html {
    box-sizing: border-box;
    height: 100%;
}
body {
    background: linear-gradient(125deg, rgb(159, 192, 250), rgb(159, 170, 250));
    /* height: 100%;  */
}
/* .policy-container {
    position: fixed;
    bottom : 0px;
    background-color: white;
    left: 0px;
    height: 25px;
}
.privacy {
    position: relative;
    bottom : 0px;
    z-index: 1;
} */
button {
    background: none;
    font-size: 18px;
    border: none;
    outline: none !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    -webkit-tap-highlight-color: transparent;
}
button:focus {
    background: none;
    outline: none !important;
    border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    -webkit-tap-highlight-color: transparent;
}

.left {
    float : left;
}
.right {
  float : right;
}
.center {
   text-align: center;
}
.inlineBlock {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.big {
    font-size: 1.5em;
    margin-top: 20px;
}
.lower{
    margin-top: 80px;
}
a:visited {
    color : black;
}
.navmenu {
    position: relative;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    padding: 20px 50px 20px 20px;
    text-decoration: none;
    border-radius: 10px;
    z-index: 1000 !important;
    top: -10px; 
}
a{
    text-decoration: none;
}
.navContainer {
   
    position: fixed;
    left:0;
    right:0;
    top:0;
    background: white;
    height: 50px;
    padding-top:20px;
}
.navContainer::after {
    display: block;
    content: '';
    clear: both;
}
.OverContainer{
    position: fixed;
    z-index: 10;
}

button.navContents {
    position: fixed;
    left: 0;
    margin-top: 5px;
    margin-left: 5px;
    z-index: 10;
    display: inline-block;
    font-size: 20px;
    height : 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.labelClass {
    display: inline-block;
    width: 89px;
}

.list {
    margin-bottom: 1px;
    padding: 15px;
    
    /* background : rgb(149, 205, 240);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px 1px rgb(171, 159, 250);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    text-align: center; */
}
.title {
    color:white;
}
.innerlist, #myCalendar {
    background: rgb(169, 225, 255);
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.3);
    
    padding: 15px;
    box-shadow: 1px 1px 1px 1px rgb(109, 165, 195);
    z-index: 0;
}
.trashContainer {
    text-align: right;
}
#emailApi{
    width: 75%;
}
.trash {
    border: none;
    background: none;
}
.spacing {
    margin-right: 50px;
}
.spaceAbove {
    margin-top: 12px;
}
.spaceBelow {
    margin-bottom: 12px;
}
.hidden {
    display: none;
}
.imageContainer {
    text-align: center;
}
.landingImage {
    max-height: 200px;
    max-width: 320px;
    border-radius: 50%;
    box-shadow: -2px 2px 2px 2px rgb(109, 165, 195);
    animation-name: outlineShadow;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes outlineShadow {
    25% {
        box-shadow: 2px 2px 2px 2px rgb(109, 165, 195);
    }
    50% {
        box-shadow: 2px -2px 2px 2px rgb(109, 165, 195);
    }
    75% {
        box-shadow: -2px -2px 2px 2px rgb(109, 165, 195);
    }
    100% {
        box-shadow: -2px 2px 2px 2px rgb(109, 165, 195);
    }
   
}
.loginContainer{
    display: inline-block;
    margin-left:auto;
    margin-right: auto;
    background: white;
    border-radius: 5px;
    width: 75%;
    min-height: 60px;

}
.welcomeParent {
   text-align:center;
}
.smallbox{
    width: 25%;
}
