html {
    box-sizing: border-box;
    height: 100%;
}
body {
    background: rgb(234, 234, 234);
    /*background: linear-gradient(125deg, rgb(159, 192, 250), rgb(159, 170, 250));*/
    /* height: 100%;  */
    margin : 0px;
}
.big p{
    font-family: 'Libre Baskerville', serif;
}
.welcomeText {
    background: lightskyblue;
    position: relative;
    /* top: -8px;
    left: -8px; */
    /* right: -16px; */
    width: 100%;
}
/* .welcomeText::after {
    content: '';
    display: inline-block;
    position: fixed;
    height: 66px;
    width: 16px;
    top: 0px;
    right: 0px;
    background: lightskyblue;
} */

p {
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}
/* .policy-container {
    position: fixed;
    bottom : 0px;
    background-color: white;
    left: 0px;
    height: 25px;
}
.privacy {
    position: relative;
    bottom : 0px;
    z-index: 1;
} */
button {
    background: none;
    font-size: 18px;
    border: none;
    outline: none !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    -webkit-tap-highlight-color: transparent;
}
button:focus {
    background: none;
    outline: none !important;
    border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    -webkit-tap-highlight-color: transparent;
}

.left {
    float : left;
}
.right {
  float : right;
}
.center {
   text-align: center;
}
.inlineBlock {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.big {
    font-size: 1.5em;
    margin-top: 20px;
}
.lower{
    margin-top: 80px;
}
a:visited {
    color : black;
}
.navmenu {
    position: relative;
    background: rgb(173,216,230);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    padding: 20px 50px 20px 20px;
    text-decoration: none;
    border-radius: 10px;
    z-index: 1000 !important;
    top: -10px; 
    left: 8px
}
a{
    text-decoration: none;
}
.navContainer {
   
    position: fixed;
    left:0;
    right:0;
    top:0;
    background: lightskyblue;
    height: 50px;
    padding-top:20px;
}
.navContainer::after {
    display: block;
    content: '';
    clear: both;
}
.OverContainer{
    position: fixed;
    z-index: 10;
}

button.navContents {
    position: fixed;
    left: 0;
    margin-top: 5px;
    margin-left: 5px;
    z-index: 10;
    display: inline-block;
    font-size: 20px;
    height : 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
button.navContents:after{
    content: 'MENU';
    position: relative;
    font-size: 6px;
    left: -18px;
    top: 5px;
}
p.smallSpace {
    font-size: 2px;
}
.list {
    margin-bottom: 1px;
    padding: 15px;
    
    /* background : rgb(149, 205, 240);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px 1px rgb(171, 159, 250);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    text-align: center; */
}
.title {
    color:black;
}
.innerlist, #myCalendar {
    background: rgb(169, 225, 255);
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.3);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
    padding: 15px;
    box-shadow: 1px 1px 1px 1px rgb(109, 165, 195);
    z-index: 0;
}


.trashContainer {
    float: right;
}
#emailApi{
    width: 75%;
}
.trash {
    border: none;
    background: none;
}
.spacing {
    margin-right: 50px;
}
.spaceAbove {
    margin-top: 20px;
}
.textAlignLeft {
    text-align: left;
}
.textAlignRight {
    text-align: right;
}
.spaceBelow {
    margin-bottom: 12px;
}
.hidden {
    display: none;
}
.imageContainer {
    text-align: center;
    margin-bottom: 10px;
    max-width : 350px;
    margin-left: auto;
    margin-right:auto;
}
.landingImage {
    position: relative;
    max-height: 100px;
    max-width: 160px;
    border-radius: 50%;
    box-shadow: -2px 2px 2px 2px rgb(109, 165, 195);
    animation-name: outlineShadow;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.registerImage {
    max-width: 160px;
    max-height: 100px;
    position: relative;
    left: 20px;
    border-radius: 3px;
}
.loginImage {
    position: relative;
    left: -3px;
    max-width: 1600px;
    max-height : 100px;
    border-radius: 3px;
}
.loginText {
    position: relative;
    bottom: 45px;
    left: 45px;
}
.registerText{
    position: relative;
    bottom : 40px;
}
@keyframes outlineShadow {
    25% {
        box-shadow: 2px 2px 2px 2px rgb(109, 165, 195);
    }
    50% {
        box-shadow: 2px -2px 2px 2px rgb(109, 165, 195);
    }
    75% {
        box-shadow: -2px -2px 2px 2px rgb(109, 165, 195);
    }
    100% {
        box-shadow: -2px 2px 2px 2px rgb(109, 165, 195);
    }
   
}
.loginContainer{
    display: inline-block;
    margin-left:auto;
    margin-right: auto;
    /* background: white; */
    border-radius: 5px;
    width: 75%;
    min-height: 60px;
    max-width: 500px;
}
.welcomeParent {
   text-align:center;
   background : rgb(173, 188, 230);
}
.welcomeParent2 {
    text-align:center;
    background : rgb(84, 118, 211);
    position: fixed;
    bottom : 0;
    width: 100%;
 }
.smallbox{
    width: 25%;
}
.smallbutton {
    width: 25px;
}
.marginCenter {
    margin-left: auto;
    margin-right: auto;
}
.inputGroup {
    display: inline-block;
    border : none;
    border-radius: 5px;
    padding: 2px;
    transition: 1.0s;
    width: 100%;

}
/* .inputGroup:focus {
    background-color: rgb(240, 240, 240);
    transform: scale(1.1);
    transition: 1.0s;
    
} */
.inputGroup:hover {
    transform: scale(1.05);
}

input {
    border:none;
    border-radius: 5px;
    padding: 5px;
    /* margin-left: 5px; */
    width: 80%;
}

select {
    border:none;
    transition: 1.0s;
}
textarea {
    border: none;
    transition: 1.0s;
}
/* *:focus {
    transition: 1.0s;
    outline : none !important;
} */

@media (max-width: 480px) {
    .innerlist {
        text-align : left;
    }
    input {
        text-align: center;
        width: 96%;
       
    }
    span.landingText1{
        display: inline-block;
        width: 125px;
        position: relative;
        left: -10px;
        text-align: left;
    }
    span.landingText2{
        width: 165px;
        text-align: right;
        display: inline-block;
        position: relative;
        right: 0px;
        top: 0px;
    }
    span.landingText3 {
        display: inline-block;
        width: 155px;
        position: relative;
       text-align: center;
    }
    .image3 {
        display : none;
    }
  
}
@media (min-width: 481px){
    .innerlist {
        text-align : center;
    }
    input {
        text-align: left;
    }
    .textAlignLeft {
        padding-left: 42px;
        padding-right: 42px;
    }
    .imageContainer {
        display: block;
        text-align: inherit;
        max-width: 50%;
        left: 0;
        position: relative;
        margin: 35px 0px 25px 0px;
    }
    .image1, .image2 {
        display: none;
    }
    span.landingText1{
     position: relative;
     left: 0;
     width: 50%;
     margin: 0;
    }
    span.landingText2{
        position: relative;
        left: 0;
    }
    span.landingText3{
        position: relative;
        left: 0;
    }
    .image3 {
        float: right;
        display: block;
        width: 400px;
        height: 326px;
        position: relative;
        right : 0px;
        top:-36px;
        border-width: 8px;
        border-color: lightseagreen;
        border-style: solid;
    }
}
