html {
    box-sizing: border-box;
    height: 100%;

}
body {
    background: linear-gradient(45deg, rgb(234, 234, 234), rgb(204, 204, 204));
    /*background: linear-gradient(125deg, rgb(159, 192, 250), rgb(159, 170, 250));*/
    /* height: 100%;  */
    margin : 0px;
}
.big p{
    font-family: 'Libre Baskerville', serif;
}
.welcomeText {
    background: lightskyblue;
    position: relative;
    /* top: -8px;
    left: -8px; */
    /* right: -16px; */
    width: 100%;
    z-index: 9;
}
.underline {
    text-decoration: underline;
}
/* .welcomeText::after {
    content: '';
    display: inline-block;
    position: fixed;
    height: 66px;
    width: 16px;
    top: 0px;
    right: 0px;
    background: lightskyblue;
} */

p {
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}
/* .policy-container {
    position: fixed;
    bottom : 0px;
    background-color: white;
    left: 0px;
    height: 25px;
}
.privacy {
    position: relative;
    bottom : 0px;
    z-index: 1;
} */
button {
    background: none;
    font-size: 18px;
    border: none;
    outline: none !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    -webkit-tap-highlight-color: transparent;
}
button:focus {
    background: none;
    outline: none !important;
    border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    -webkit-tap-highlight-color: transparent;
}

.filterButton::after {
    content: 'FILTER';
    position: relative;
    font-size: 7px;
    left: -20px;
    top: 8px;
}
.left {
    float : left;
}
.right {
  float : right;
}
.center {
   text-align: center;
}
.inlineBlock {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.big {
    font-size: 1.5em;
    margin-top: 20px;
}
.lower{
    margin-top: 80px;
}
a:visited {
    color : black;
}
.navmenu {
    position: relative;
    background: rgb(173,216,230);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    padding: 20px 50px 20px 20px;
    text-decoration: none;
    border-radius: 10px;
    z-index: 1000 !important;
    top: -10px; 
    left: 8px
}
a{
    text-decoration: none;
}
.navContainer {
   
    position: fixed;
    left:0;
    right:0;
    top:0;
    background: lightskyblue;
    height: 50px;
    padding-top:20px;
}
.navContainer::after {
    display: block;
    content: '';
    clear: both;
}
.OverContainer{
    position: fixed;
    z-index: 10;
}

button.navContents {
    position: fixed;
    left: 0;
    margin-top: 5px;
    margin-left: 5px;
    z-index: 10;
    display: inline-block;
    font-size: 20px;
    height : 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
button.navContents:after{
    content: 'MENU';
    position: relative;
    font-size: 6px;
    left: -18px;
    top: 5px;
}
p.smallSpace {
    font-size: 2px;
}
.list {
    margin-bottom: 1px;
    padding: 15px;
    
    /* background : rgb(149, 205, 240);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px 1px rgb(171, 159, 250);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    text-align: center; */
}
.title {
    color:black;
}
.innerlist, #myCalendar {
    background: rgb(169, 225, 255);
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.3);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
    padding: 15px;
    box-shadow: 1px 1px 1px 1px rgb(109, 165, 195);
    z-index: 0;
}


.trashContainer {
    float: right;
}
#emailApi{
    width: 75%;
}
.trash {
    border: none;
    background: none;
}
.spacing {
    margin-right: 50px;
}
.spaceAbove {
    margin-top: 20px;
}
.textAlignLeft {
    text-align: left;
}
.textAlignRight {
    text-align: right;
}
.spaceBelow {
    margin-bottom: 12px;
}
.hidden {
    display: none;
}
.imageContainer {
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}
.landingImage {
    position: relative;
    max-height: 100px;
    max-width: 160px;
    border-radius: 50%;
    box-shadow: -2px 2px 2px 2px rgb(90, 90, 90);
    animation-name: outlineShadow;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.registerImage {
    max-width: 160px;
    max-height: 100px;
    position: relative;
    left: 20px;
    border-radius: 3px;
}
.loginImage {
    position: relative;
    left: -3px;
    max-width: 1600px;
    max-height : 100px;
    border-radius: 3px;
}
.loginText {
    position: relative;
    bottom: 45px;
    left: 45px;
}
.registerText{
    position: relative;
    bottom : 40px;
}
@keyframes outlineShadow {
    25% {
        box-shadow: 2px 2px 2px 2px rgb(90, 90, 90);
    }
    50% {
        box-shadow: 2px -2px 2px 2px rgb(90, 90, 90);
    }
    75% {
        box-shadow: -2px -2px 2px 2px rgb(90, 90, 90);
    }
    100% {
        box-shadow: -2px 2px 2px 2px rgb(90, 90, 90);
    }
   
}
.loginContainer{
    display: inline-block;
    margin-left:auto;
    margin-right: auto;
    /* background: white; */
    width: 100%;
    min-height: 60px;

}
.navFooter {
    margin-right: 20px;
    text-align: left;
    padding-top: 20px;
    position: relative;
    top:20px;
}
.welcomeParent {
    text-align:center;
    /* background : rgb(173, 188, 230); */
    background : none;
    position: fixed;
    bottom : 60px;
    width: 100%;
}
.welcomeParent2 {
    text-align:left;
    background : rgba(84, 118, 211, 0.5);
    position: fixed;
    bottom : 0;
    width: 100%;
    padding-left: 1%;
 }
.smallbox{
    width: 25%;
}
.smallbutton {
    width: 25px;
}
.marginCenter {
    margin-left: auto;
    margin-right: auto;
}
.inputGroup {
    display: inline-block;
    border : none;
    border-radius: 5px;
    padding: 2px;
    transition: 1.0s;
    width: 100%;

}
/* .inputGroup:focus {
    background-color: rgb(240, 240, 240);
    transform: scale(1.1);
    transition: 1.0s;
    
} */
.inputGroup:hover {
    transform: scale(1.05);
}

input {
    border:none;
    border-radius: 5px;
    padding: 5px;
    /* margin-left: 5px; */
    width: 80%;
}
select {
    border:none;
    transition: 1.0s;
}
textarea {
    border: none;
    transition: 1.0s;
}

.imageContainer1 {
    margin-top:3px;
    text-align: center;
    height: 151px;
}
.imageContainer2{
    margin-top: 9px;
    padding-left: 1%;
    padding-right: 1%;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}
.imageContainer3 {
    margin-top: 5px;
    text-align: center;
}
.innerlist {
    text-align : left;
}
input {
    text-align: center;
    width: 96%;
    
}

.image1 {
    max-width: 140px;
    /* top: 25px;
    left: 10px; */
   float:center;
    
    top: 8px;
}
span.landingText1{
    display: inline-block;
    
    width: 125px;
    margin-right: 0;
    margin-left: 0;
    max-height: 100px; 
    position: relative;
    left: -10px;
    text-align: left;
    vertical-align: middle;
    
   text-align: center;
}
span.landingText2{
    max-width: 165px;
    text-align: center;
    /* display: inline-block;*/
    position: relative;
    padding: 5px 2px 5px 2px;
    /* top: -20px; */
    float: right;
    
}
span.landingText3 {
    display: inline-block;
    max-width: 175px;
    position: relative;
    text-align: center;
    padding: 2px 5px;
    top: -5px;
    
    /* background-color: aliceblue; */
}
/* .image3 {
    display : inline-block;
    position: fixed;
    
} */
.imageContainer4 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 25%;
    padding-right: 25%;
}
.buttonRight {
    float: right;
    margin-right: 30px;
    position: relative;
    bottom: 10px;
}
.image3 {
    display : inline-block;
    position: fixed;
    background-image: url("./rawpixel-600792-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

.moreContrast {
    display: inline-block;
    background : rgb(234, 234, 234);
    border-radius: 10px;
    width: 75px;
}

/*-----------------------------------Begin Small width-------------------------------------*/
/* @media (max-width: 480px) { */

/*--------------------------------End small begin large----------------------------------*/
/*
@media (min-width: 481px){
}
.innerlist {
    text-align : center;
}
input {
    text-align: left;
    }
    .textAlignLeft {
        padding-left: 42px;
        padding-right: 42px;
    }
    .imageContainer1 {
        display: block;
        text-align: center;
        max-width: 50%;
        left: 25%;
        
        position: relative;
        margin: 35px 0px 5px 0px;
    }
    .imageContainer2 {
       margin-right: 10%;
       text-align: right;
    }
    .image1{
        display: inline-block; 
        float: right;
    }
    
    .image2 {
        display: inline-block;
        position: relative;
        left: -50px;
        margin-right: 40px;
    }
    span.landingText1{
     position: relative;
     display: inline-block;
     /* left: 25%; /
     width: 120px;
     /* margin: 0; /
     margin-left:auto;
     margin-right:auto;
    }
    span.landingText2{
        position: relative;
        display: inline-block;
        /* left: 25%; /
        width: 82px;
    }
    span.landingText3{
        position: fixed;
         bottom: 158px;
        
         width: 500px;
         display: block;
        
    }
    .centerContainer {
        text-align: center;
        position: relative; 
        width: 250px;
        top: 125px;
        margin-left:auto;
        margin-right:auto;
        height: 50px;
    }
    .image3 {
        float: right;
        display: none;
        max-width: 50%;
        max-height: 340px;
        position: relative;
        right : 10px;
        top:-26px;
        border-width: 8px;
        border-color: lightseagreen;
        border-style: solid;
    }
}
*/